@media (min-width: 768px) {
  .content {
    text-align: justify;
  }
}

.content a {
  text-decoration: underline;
}

h2, h3 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

h3 {
  font-size: 24px;
  padding-bottom: 10px;
}

.footnote {
  font-size: 80%;
  color: #0088dd;
}

.footnote::before {
  content: "[";
}

.footnote::after {
  content: "]";
}

#disclaimer {
  font-style: italic;
  text-align: center;
}
