<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Why does APT not use HTTPS?">
    <meta name="author" content="Chris Lamb">

  <meta name="twitter:site" content="@lolamby">
  <meta name="twitter:creator" content="@lolamby">
  <meta name="twitter:title" content="Why does APT not use HTTPS?">
  <meta name="twitter:description" content="Why does APT in Debian/Ubuntu, etc. not use SSL for package downloads?">
  <meta name="twitter:card" content="summary">

  <meta property="og:site_name" content="Why does APT not use HTTPS?" />
  <meta property="og:description" content="Why does APT in Debian/Ubuntu, etc. not use SSL for package downloads?" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://whydoesaptnotusehttps.com" />
  <meta property="og:title" content="Why does APT not use HTTPS?" />

  <meta property="og:image" content="https://whydoesaptnotusehttps.com/img/hexagonal.png?{{ site.time | date: '%s%N' }}" />
  <meta property="og:image:width" content="209" />
  <meta property="og:image:height" content="209" />

    <title>Why does APT not use HTTPS?</title>

    <link href="/css/bootstrap.min.css?{{ site.time | date: '%s%N' }}" rel="stylesheet">
    <link href="/css/font-awesome.min.css?{{ site.time | date: '%s%N' }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">

    <link href="/css/clean-blog.css?{{ site.time | date: '%s%N' }}" rel="stylesheet">
    <link href="/css/whydoesaptnotusehttps.css?{{ site.time | date: '%s%N' }}" rel="stylesheet">
  </head>

  <body>
    <header class="masthead" style="background-image: url('/img/bg.jpg?{{ site.time | date: '%s%N' }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Why does APT not use HTTPS?</h1>
              <span class="meta">"Isn't it more secure&hellip;?"</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto content">

{{ content }}

          </div>
        </div>
      </div>
    </article>

    <hr>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://twitter.com/lolamby">
                  <span class="fa-stack fa-md">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/lamby/whydoesaptnotusehttps.com">
                  <span class="fa-stack fa-md">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">
              Copyright &copy; <a href="https://chris-lamb.co.uk/">Chris Lamb</a> 2017, 2018.
              <br>
              See also: <a href="https://isdebianreproducibleyet.com/">isdebianreproducibleyet.com</a>.
              <br>
              Released under the terms of <a href="/LICENSE">GPL-3</a>.
              <a href="https://github.com/lamby/whydoesaptnotusehttps.com">Patches welcome</a>.
              <br>
              Thanks to Chris West, Euan MacGregor, Evgeni Golov, Helen Jackson
              &amp; Martin Zobel-Helas for their input.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
